.section-counter-box
    .section-counter
        a.section-counter__item.js-anchor-link.section-counter__item--active(href="#anchor-functional") 01
            .section-counter__item-tooltip Функционал
        a.section-counter__item.js-anchor-link(href="#anchor-mobility-checkpoint") 02
            .section-counter__item-tooltip Устройство
        a.section-counter__item.js-anchor-link(href="#anchor-features") 03
            .section-counter__item-tooltip Преимущества
        a.section-counter__item.js-anchor-link(href="#anchor-reviews") 04
            .section-counter__item-tooltip Отзывы
        a.section-counter__item.js-anchor-link(href="#anchor-price") 05
            .section-counter__item-tooltip Цена
