footer.footer
    .footer__inner
        .footer__row
            .footer__head
                .footer__head-wrap
                    a.logo(href="./index.html" aria-label="logo") Mobile checkpoint
                .footer__subtitle автоматизация строительного бизнеса для подрядных организаций

            .footer__info
                .footer__adress
                    .footer__adress-title Адрес
                    .footer__adress-subtitle
                        p г.Москва. Красная площадь
                        a(href="tel:+74958888888") +7(495) 000 00 00
                        a(href="mailto:sdfsf@email.ru") google.com

                nav.footer__nav
                    ul.menu__list
                        li.menu__item
                            a.menu__link.js-anchor-link(href="#anchor-functional") Функционал
                        li.menu__item
                            a.menu__link.js-anchor-link(href="#anchor-mobility-checkpoint") Устройство
                        li.menu__item
                            a.menu__link.js-anchor-link(href="#anchor-features") Преимущества
                        li.menu__item
                            a.menu__link.js-anchor-link(href="#anchor-reviews") Отзывы
                        li.menu__item
                            a.menu__link.js-anchor-link(href="#anchor-price") Цена
        .footer__social
            p.footer__social-title Соц. сети
            include ../social/social.pug

        .footer__bottom
            .footer__copy © Мобильная проходная. Все права защищены 2222
            a.footer__copy-link(href="/#") google.com
