section.price#anchor-price
    .box
        .price__inner
            .price__col
                .price__title Тарифы и цены
                .price__descr Возможна услуга автоматической загрузки данных, доработка системы или ее интеграция под нужды компании. Условия дополнительных работ оговариваются индивидуально.
            .price__col
                .price__estimate
                    .price__estimate-title 950 000 RUB
                    .price__estimate-list
                        .price__estimate-subtitle В стоимость включено:
                        p.price__estimate-item Мобильная проходная  дэсктопная версия- без ограничения по времени
                        p.price__estimate-item Мобильное приложение- без ограничения по времени
                        p.price__estimate-item Развертывание системы
                        p.price__estimate-item Год технического обслуживания

                button.price__btn.btn.btn--black(type="button" data-modal="modal-1") Получить консультацию
                a.price__link(href="/tech-require.html") Технические требования
