nav.menu
    ul.menu__list
        li.menu__item
            a.menu__link.js-anchor-link(href="#anchor-functional") Функционал
        li.menu__item
            a.menu__link.js-anchor-link(href="#anchor-mobility-checkpoint") Устройство
        li.menu__item
            a.menu__link.js-anchor-link(href="#anchor-features") Преимущества
        li.menu__item
            a.menu__link.js-anchor-link(href="#anchor-reviews") Отзывы
        li.menu__item
            a.menu__link.js-anchor-link(href="#anchor-price") Цена
button.menu__toggle(type="button")
    span.menu__toggle-line
