// @font-face {
//     font-family: "Proxima Nova";
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
// }

// @font-face {
//     font-family: "Proxima Nova";
//     font-style: normal;
//     font-weight: 500;
//     font-display: swap;
//     src: url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
// }

// @font-face {
//     font-family: "Proxima Nova";
//     font-style: normal;
//     font-weight: 600;
//     font-display: swap;
//     src: url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
// }

// @font-face {
//     font-family: "Proxima Nova";
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
//     src: url("../fonts/ProximaNova/ProximaNova-Extrabold.ttf") format("truetype");
// }


@font-face {
    font-family: 'SF Pro Display';
    src:
        url('../fonts/SFPro/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src:
        url('../fonts/SFPro/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src:
        url('../fonts/SFPro/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src:
        url('../fonts/SFPro/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src:
        url('../fonts/SFPro/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src:
        url('../fonts/SFPro/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



