.call-action
    .box
        .call-action__title Готовы приступить к работе? Ознакомьтесь с десктопной версией Мобильной проходной.
        button.call-action__btn.btn.btn--black(type='button') Попробовать десктопную demo версию
