a.logo(href="./index.html" aria-label="logo")
    img.logo__icon(src="./img/icons/logo.svg", alt="" width="32" height="27")
    img.logo__text(src="./img/icons/logo-text.svg", alt="" width="50" height="10")
