section.reviews#anchor-reviews
    .box
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .reviews__card
                        .reviews__quote “Неплохо себя зарекомендовала  работа с инструментами, неожиданно  - выявили несколько  сотрудников “ломающих” технику. Удалось уменьшит кол-во простоев.”
                        .reviews__caption
                            .reviews__caption-title Виктор Знаменский
                            .reviews__caption-subtitle Ремонт магазина “Москва Сити”
                .swiper-slide
                    .reviews__card
                        .reviews__quote “Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, vel.”
                        .reviews__caption
                            .reviews__caption-title Lorem, ipsum dolor.
                            .reviews__caption-subtitle Lorem, ipsum. “lorem”
                .swiper-slide Slide 3
                .swiper-slide Slide 4
                .swiper-slide Slide 5
                .swiper-slide Slide 6

            .reviews__controls
                .swiper-button-prev
                    img.reviews__arrow(src="img/icons/arrow-left.svg", alt="" width="12" height="8")
                .swiper-button-next
                    img.reviews__arrow(src="img/icons/arrow-right.svg", alt="" width="12" height="8")
                .swiper-pagination
