section.features#anchor-features.big-box
    .box
        .features__inner
            .features__info
                .features__info-title Преимущества
                ul.features__info-list
                    li.features__info-item
                        .features__info-subtitle Минимизирует ошибки
                        .features__info-descr В расчетах заработной платы, рассчитывается автоматически. Вы сэкономите деньги и поддержите репутацию надежного работодателя..
                    li.features__info-item
                        .features__info-subtitle Защитит от недобросовестных сотрудников
                        .features__info-descr Минимизирует “человеческий фактор”, так как  время начала работ, количество часов потраченных сотрудником отслеживаются автоматически по Face-ID.
                    li.features__info-item
                        .features__info-subtitle Увеличит прибыль
                        .features__info-descr Аналитика позволит рассчитать адекватную цены будущих работ и взглянуть на результаты работы непредвзято, выявить точки роста.
                    li.features__info-item
                        .features__info-subtitle Минимизирует простои
                        .features__info-descr Вы сможете зарезервировать инструмент, перевезти с объекта на объект,  будете знать где и в каком состоянии техника, кто с ней работает.
                    li.features__info-item
                        .features__info-subtitle Оптимизирует персонал
                        .features__info-descr Вы будете знать сколько человек на объекте, сможете оперативно подобрать лучшую замену из базы.
                    li.features__info-item
                        .features__info-subtitle Обеспечит безопасность и доступность.
                        .features__info-descr Информация дублируется и хранится в облаке- вы сможете получить данные в любой точки мира. Контроль доступа исключается доступ сотрудников к “лишней информации”.
                    li.features__info-item
                        .features__info-subtitle Уменьшить стресс.
                        .features__info-descr Контроль из одной системы уменьшит количество ошибок, сделает процесс прозрачным и прогнозируемым.

            .features__pictures
                .features__pictures-inner
                    img.features__pictures-img.picture--phone(src="img/iPhone_X.png", alt="")
                    img.features__pictures-img.picture--card-red.gsap(src="img/card-red.png", alt="")
                    img.features__pictures-img.picture--card-green.gsap(src="img/card-green.png", alt="")
                    img.features__pictures-img.picture--card-blue.gsap(src="img/card-blue.png", alt="")
