header.header
    .header__content
        a.header__logo.logo(href="./index.html" aria-label="logo") Mobile checkpoint
        .header__nav
            include ../menu/menu.pug
            a.header__phone(href="tel:+74958739222") +7(495) 000 00 00
