section.mobility-checkpoint#anchor-mobility-checkpoint
    .box
        .mobility-checkpoint__inner
            .mobility-checkpoint__title Как устроена Мобильная проходная
            .mobility-checkpoint__descr Система состоит из 2ух частей - десктопной версии и мобильного приложения для Apple и Android. Интерфейс интуитивно понятный не требует обучения, максимально простое внедрение.
            .mobility-checkpoint__content
                ul.mobility-checkpoint__column
                    li.mobility-checkpoint__column-title Приложение для Apple и Android:
                    li.mobility-checkpoint__column-item Проходная (фейс ID)
                    li.mobility-checkpoint__column-item Персонал (упрощенная версия)
                    li.mobility-checkpoint__column-item Объекты (просмотр)
                    li.mobility-checkpoint__column-item Инструменты (упрощенная версия)
                    li.mobility-checkpoint__column-item Мои инструменты
                    li.mobility-checkpoint__column-item Уведомления
                ul.mobility-checkpoint__column
                    li.mobility-checkpoint__column-title Десктопная версия для ПК
                    li.mobility-checkpoint__column-item Проходная (ручной вход-для администратора)
                    li.mobility-checkpoint__column-item Персонал
                    li.mobility-checkpoint__column-item Объекты
                    li.mobility-checkpoint__column-item Инструменты
                    li.mobility-checkpoint__column-item Мои инструменты
                    li.mobility-checkpoint__column-item Уведомления
                    li.mobility-checkpoint__column-item Статистика
        .mobility-checkpoint__video
            img.mobility-checkpoint__video-preview(src="img/vireo-preview1.png", alt="")



