section.hero#hero
    .box
        .hero__inner
            .hero__content
                h1.hero__title Автоматизация строительного бизнеса для подрядных организаций
                .hero__descr
                    p Мобильная проходная- сервис для десктопа и мобильного. Позволяет автоматически отслеживать перемещение персонала, инструментов, прогресс и сроки по проектам, строит финансовую аналитику.

                .hero__btn-inner
                    button.hero__btn.btn.btn--white(type="button" data-modal="modal-1") Получить консультацию
                    button.hero__btn.btn.btn--black(type="button") Попробовать бесплатно
            .hero__picture-inner
                .hero__picture.picture-hover
                    img.hero__image.hero__image--1.picture__image(src="./img/iPhone111.png" srcset="./img/iPhone111.png 2x" alt="hero" )
                    img.hero__image.hero__image--2(src="./img/hero-message-card.png" srcset="./img/hero-message-card.png 2x" alt="hero" )
