section.functional#anchor-functional
    .functional__box.functional__box--second
        .functional__inner.box
            .functional__info
                .functional__info-inner
                    .functional__info-subtitle Функционал
                    .functional__info-title Управление персоналом
                    .functional__info-descr
                        p Контроль доступа на объект по Face-ID через мобильное приложение. Учет рабочих часов, часов простоя или вынужденного простоя.
                        p Автоматический расчет заработной платы по часам, расчет отпуска и больничного.
                        p База данных сотрудников- менеджеров, прорабов, рабочих  со статусом -действующий, в отпуске или на больничном, в резерве.
                        p Контроль уровней доступа менеджеров к базе.

            .functional__visual.second.gsap
                //- img.functional__img(src="img/person-x2.png", alt="")
                picture
                    source(type="image/webp" media="(min-width: 768px)" srcset="./img/person-x2.webp, ./img/person-x2.webp 2x")
                    source(type="image/webp" srcset="./img/person.webp, ./img/person.webp 2x")
                    source(media="(min-width: 768px)" srcset="./img/person-x2.png, ./img/person-x2.png 2x")
                    img.functional__img(src="./img/person.png" srcset="./img/person.png 2x" alt="" width="300" height="154")

    .functional__box.functional__box--third
        .functional__inner.box
            .functional__info
                .functional__info-inner
                    .functional__info-subtitle Функционал
                    .functional__info-title Управление объектами
                    .functional__info-descr
                        p Контроль сроков, учет фактического времени выполнения работ, технологические перерывы или вынужденные простои .
                        p Автоматический расчет прибыли или убытков. Построение аналитических таблиц и графиков для анализа эффективности
                        p Автоматический контроль сотрудников на объекте- информация кто и когда, сколько работал на объекте.
                        p Контроль уровней доступа к базе. Простое создание и редактирование объектов статусе -в работе, планируются, завершенные.

            .functional__visual.third.gsap
                //- img.functional__img(src="img/object-x2.png", alt="")
                picture
                    source(type="image/webp" media="(min-width: 768px)" srcset="./img/object-x2.webp, ./img/object-x2.webp 2x")
                    source(type="image/webp" srcset="./img/object.webp, ./img/object.webp 2x")
                    source(media="(min-width: 768px)" srcset="./img/object-x2.png, ./img/object-x2.png 2x")
                    img.functional__img(src="./img/object.png" srcset="./img/object.png 2x" alt="" width="300" height="154")

    .functional__box.functional__box--fourth
        .functional__inner.box
            .functional__info
                .functional__info-inner
                    .functional__info-subtitle Функционал
                    .functional__info-title Управление инструментом
                    .functional__info-descr
                        p База данных инструмента - технического состояние, обслуживание, ремонт. Информация кто и когда пользовался инструментом и на каком объекте.
                        p Резервирование, доставка инструмента на объект. Контроль количества инструмента.  Аналитика.
                        p Контроль уровней доступа логистов к базе.

            .functional__visual.fourth.gsap
                //- img.functional__img(src="img/tools-x2.png", alt="")
                picture
                    source(type="image/webp" media="(min-width: 768px)" srcset="./img/tools-x2.webp, ./img/tools-x2.webp 2x")
                    source(type="image/webp" srcset="./img/tools.webp, ./img/tools.webp 2x")
                    source(media="(min-width: 768px)" srcset="./img/tools-x2.png, ./img/tools-x2.png 2x")
                    img.functional__img(src="./img/tools.png" srcset="./img/tools.png 2x" alt="" width="300" height="154")
